<!-- ABOUT SECTION -->
<div id="about" class="row section">
    <div class="row heading">
        <h2 class="headline"><span>About Us</span></h2>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                GEAR-1 is a driving school in the Philippines, designed for beginners as well as experienced drivers to become responsible and safe road users. We offer a quality, affordable and effective training programs that will help our students become responsible drivers. Quality training through one-on-one hands-on teaching by our well-trained instructors, affordable tuitions for beginner and refresher and effective program which includes actual orientation and lecture that will enhance your skills in driving.
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 mission">
            <h3>Mission</h3>
            <p>
                To provide high-quality and student-specific driver education at very competitive prices through our well-trained and experienced instructors and staff to clients who share and recognize our advocacy for road safety.
            </p>
        </div>
        <div class="col-md-4 vision">
            <h3>Vision</h3>
            <p>
                Our vision is to give the best quality training, and to continue raising the standards of driver education in the country. We aim to produce responsible and courteous drivers for better and safer roads for everyone.
            </p>
        </div>
    </div>
</div>
