<div class="container">
    <div id="policy" class="row section">
        <div class="row heading">
            <h2 class="headline">Student Regulations and Policies</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ol class="text-left policy-list">
                    {% for policy in site.data.policies %}
                        <li>{{ policy }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
